.navbar {
  list-style: none;
  display: flex;
  justify-content: space-around;
  border: 1px solid black;
  border-radius: 24px;
  background-color: #ffffff;
  padding: 0;
  font-weight: 700;
  letter-spacing: 2px;
  /* line-height: 1rem; */
  width: 100%;
  /* position:fixed; */
  z-index: 2;
  text-transform: capitalize;
}
.nav_logo {
  /* height: 1rem; */
  transform: scale(1.2);
  margin: 0 !important;
}
.nav-link .active {
  border: 2px solid !important;
}
