.swiper-container {
  padding: 0 5rem !important;
  height: 90vh;
  width: 90vw;
  transform: translateY(-10%);
}
.swiper-wrapper {
  list-style: none;
  align-items: center;
  left: -3.5%;
}
.swiper-slide {
  opacity: 0.6;
  width: 280px;
  height: 250px !important;
  border-radius: 24px;
  overflow: hidden;
  position: relative;
}
.swiper-slide .card {
  width: 100%;
  height: 100%;
  border-radius: 24px;
}
.swiper-slide-active {
  transform: scale(1.3);

  opacity: 1;
  transition: all 1s;
  overflow: visible;
  -webkit-box-shadow: 0px 0px 22px -12px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 22px -12px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 22px -12px rgba(0, 0, 0, 0.75);
}
.swiper-slide-active .card_text {
  width: 200%;
  position: absolute;
  top: 75%;
  left: -50%;
  animation: fade 1.5s linear;
  transform: translateY(50px);
  height: auto;
}
.card_text {
  text-align: center;
  position: absolute;
  /* transition: 1s; */
}
@keyframes fade {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

.swiper-button-prev {
  color: black !important;
}
.swiper-button-next {
  color: black !important;
}
@media screen and (max-width: 1024px) {
  .swiper-slide-active .card_text {
    font-size: 0.8rem;
    left: -55%;
    margin: 1rem;
  }
  .swiper-slide {
    width: 400px;
  }
}

@media screen and (max-width: 768px) {
  .swiper-container {
    width: 100vw;
    /* height: 600px; */
  }
  .swiper-wrapper {
    left: -10%;
  }
  .swiper-slide-active {
    transform: scale(1.1);
  }
  .swiper-slide {
    width: 250px;
  }
}
@media screen and (max-width: 450px) {
  .swiper-container {
    width: 90vw;
  }
  .swiper-slide {
    height: 50vh !important;
  }
  .card {
    width: 100vw;
  }
  .swiper-slide-active {
    transform: scaleY(1);
    width: 100vw;
  }
  .swiper-wrapper {
    left: -20%;
  }
  .swiper-slide-active .card_text {
    width: 100vw;
    font-size: 0.8rem;
    left: -55%;
    top: 85%;
  }
}
